* {
    font-family: Verdana;
    color: black;
}

h1 {
    background-color: yellow;
    color: darkgreen;
    font-size: 150%;
    text-align: center;
    border: 4px double darkgreen;
    border-radius: 5px;
}

h2 {
    font-style: italic;
    color: green;
    font-size: 120%;
    text-align: left;
    padding-left: 30px;
}

th {
    text-align: center;
    color: darkgreen;
    font-weight: bold;
    font-size: 110%;
    background-color: yellow;
}

table, td {
    border: 1px solid green;
}

/* 16:05- 16:10 */